
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>
<p> GetThatLook is an online website to buy Accessories for men and Women to enhance the way they style.</p>
<p> We sell all the latest fashion accesories delievered to your door</p>
<h3> Order Yours Today</h3>